<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{ title }}</h1>
            </div>
            <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item {{ index == breadcrumb.length - 1 ? 'active' : ''}}" *ngFor="let item of breadcrumb; let index=index">
                        {{ item.name }}
                    </li>
                </ol>
            </div> -->
        </div>
    </div>
</section>