<section class="content">
    <div class="error-page">
        <h2 class="headline text-warning"> 404</h2>
        
        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! No encontramos la página que buscas.</h3>
            <p>
                No encontramos lo que buscas
                puedes <a class="link" (click)="regresar()">regresar a la página anterior</a> o asegurate que has escrito bien la dirección URL.
            </p>
        </div>
    </div>
</section>